aseprite/
cef_user_data/
dconf/
discord/
Electron/
eog/
fish/
flutter/
fontconfig/
go/
godot/
gtk*
IJHack/
JetBrains/
kde.org/
nemo/
neofetch/
Notion/
obs-studio/
pulse/
r2modman*
simple-scan/
systemd/
Thunar/
Tracktion/
unity3d/
vlc/
VSCodium/
xfce4/
yay/
dolphinrc
mimeapps.list
pavucontrol.ini
QtProject.conf
user-dirs.*

micro/backups
micro/buffers/*
kitty/*.bak
btop/btop.log
