@import "frappe.css";

/* Remove default */
button {
	all: unset;
}

* {
    font-family: JetBrainsMono Nerd Font;
    border-radius: 0;
    margin: 0;
}

#waybar {
    background-color: transparent;
    color: @text;
}

#custom-launcher,
#workspaces,
#window,
#backlight,
#clock,
#backlight,
#pulseaudio,
#bluetooth,
#network,
#battery {
    border-radius: 0.5rem;
    background-color: @surface0;
    font-weight: bold;
    padding: 0.4 1rem;
    margin: 8px 0 0 8px;
}



/* Left modules */
#custom-launcher {
    padding: 0 1.4rem 0 1rem;
    font-size: 20px;
    color: @teal;
}

#workspaces {
    padding: 0 0.8rem 0 0.4rem;
}
#workspaces button {
	font-size: 20px;
    padding: 0.4rem 1rem;
    color: @overlay0;
}
#workspaces button.active {
    color: @mauve;
}
#workspaces button:hover {
    color: @pink;
}
#workspaces button.special {
    color: @yellow;
}

#window {
    background-color: @surface0;
}
window#waybar.empty #window {
    background-color: transparent;
}
/* window#waybar.kitty { */
/* 	color: @green; */
/* } */

/* Center modules */
#clock {
    background-color: @base;
    color: @blue;
}

/* Right modules */
#backlight {
    color: @yellow;
}

#pulseaudio {
    color: @maroon;
}

#bluetooth {
    color: @blue;
}

#network { }

#battery {
    color: @green;
    margin-right: 8px;
}

#battery.charging {
    color: @green;
}
#battery.warning {
    color: @yellow;
}
#battery.critical {
    color: @red;
}
#battery.warning:not(.charging) {
    color: @red;
}

/* Other */

/* Calendar */
tooltip {
    background-color: @surface1;
    color: @lavander;
    text-shadow: none
}
