palette = "catppuccin_frappe"
scan_timeout = 40

[directory]
format = "[ ](bold text)[ $path ]($style)"
style = "bold text"

[character]
success_symbol = "[󰣇 ](bold text)[ 󰁕](bold green)"
error_symbol = "[󰣇 ](bold text)[ 󰁕](bold red)"

[cmd_duration]
format = "[󰔛 $duration]($style)"
disabled = false
style = "bg:none fg:#f9e2af"
show_notifications = false
min_time_to_notify = 60000

[palettes.catppuccin_frappe]
rosewater = "#f2d5cf"
flamingo = "#eebebe"
pink = "#f4b8e4"
mauve = "#ca9ee6"
red = "#e78284"
maroon = "#ea999c"
peach = "#ef9f76"
yellow = "#e5c890"
green = "#a6d189"
teal = "#81c8be"
sky = "#99d1db"
sapphire = "#85c1dc"
blue = "#8caaee"
lavender = "#babbf1"
text = "#c6d0f5"
subtext1 = "#b5bfe2"
subtext0 = "#a5adce"
overlay2 = "#949cbb"
overlay1 = "#838ba7"
overlay0 = "#737994"
surface2 = "#626880"
surface1 = "#51576d"
surface0 = "#414559"
base = "#303446"
mantle = "#292c3c"
crust = "#232634"
